@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko:wght@300..700&display=swap');

:root {
  --accent-color: #142880;
  --base-color: #f8f8f8;
  --smooth: all 0.3s ease-in-out;
  --border-radius: 5px;
}

::selection{
  color: #04befe;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, rgb(0, 0, 0), rgb(255, 255, 255));
  border-radius: 6px; 
  
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: 17px;
  font-family: "Teko", sans-serif;
  max-width: 100%;
}

#planes,#preguntasFrecuentes {
  margin: 0;
  padding: 0;
  height: 700px;
  background-image: radial-gradient(
      circle at 0% 0%,
      rgb(6, 5, 32) 150%,
      rgba(31, 31, 31, 0.082) 75%
    ),
    radial-gradient(
      circle at 100% 100%,
      rgba(2, 3, 31, 0.9) 150%,
      rgba(0, 0, 0, 0) 150%
    ),
    linear-gradient(
      135deg,
      rgba(24, 8, 28, 0) 0%,
      rgb(48, 59, 143) 50%,
      rgba(9, 8, 28, 0) 100%
    );
  z-index: -1;
}

.wave {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin-top: -16%;
  z-index: 1;

}

#cambiosFisicos{
  margin: 0;
  padding: 10px;
  height: 700px;
  margin-top: -1%;
  background-color: #0b689c;
  z-index: -1;
}

header{
  transition: background-color 0.3s ease;
}

header a{
  transition: color 0.3s ease;
}

header:hover{
  background-color: #f8f8f8;
}

header:hover a{
  color: #333;
}


body{
  
  background:linear-gradient(
    90deg,
    rgba(166,93,234,234,1)25%,
    rgb(59, 52, 153)73%
  );
  

}

.back{
  padding: 33px 0;
  background-image: radial-gradient(
    circle at 0% 0%,
    rgb(4, 3, 20) 150%,
    rgba(31, 31, 31, 0.082) 75%
  ),
  radial-gradient(
    circle at 100% 100%,
    rgba(2, 3, 31, 0.9) 150%,
    rgba(0, 0, 0, 0) 150%
  ),
  linear-gradient(
    135deg,
    rgba(24, 8, 28, 0) 0%,
    rgb(48, 59, 143) 50%,
    rgba(9, 8, 28, 0) 100%
  );
  
  z-index: 999;
}

.menu{
  position:fixed;
  top:0;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  

}
.menu .navbar ul li{
  position: relative;
  float: left;
  
}

.menu .navbar ul li a{
  font-size: 22px;
  padding: 20px;
  color: white;
  display: block;
}
.menu .navbar ul li a:hover{
 color: #1e4b97;
}

#menu{
  display: none;
}

.menu-icono{
  width: 25px;

}

.menu label{
  cursor: pointer;
  display: none;
}

#inicio {
  position: relative;
  height: 900px;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.capa{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(9, 17, 26);
  opacity: 0.5;
  z-index: -1;
}


.buttons{
  
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  height: 100vh; /* Ajusta la altura según el viewport */
  z-index: 1;
}

  .buttons a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  
  .container:hover .buttons {
    opacity: 1;
  }

  .btn-hover {
    width: 350px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    display: block;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}


/* Card section */

.card {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 2rem;
  width: 20rem;
  margin: 10px;
  height: auto;
  margin-left: 40%;
  background-color: rgb(48, 54, 143);
  background-image: radial-gradient(
      circle at 0% 0%,
      rgb(9, 7, 44) 15%,
      rgba(0, 0, 0, 0) 75%
    ),
    radial-gradient(
      circle at 100% 100%,
      rgba(2, 3, 31, 0.9) 15%,
      rgba(0, 0, 0, 0) 150%
    ),
    linear-gradient(
      135deg,
      rgba(24, 8, 28, 0) 0%,
      rgb(48, 59, 143) 50%,
      rgba(9, 8, 28, 0) 100%
    );
  border-radius: 0.5rem;
  z-index: 999;
}

.card::before {
  content: "";
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: rgb(50, 48, 143);
  background-image: linear-gradient(
    0deg,
    rgb(42, 47, 180) 0%,
    rgb(95, 102, 228) 75%
  );
  border-radius: 9999px;
  box-shadow: 0 1px 5px 3px rgb(107, 103, 238), 0 0 30px 5px rgb(99, 95, 228);
}

.card .title {
  font-size: 1rem;
  color: white;
  font-weight: 600;
}

.card .pricing {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}

.card .pricing .pricing-time,
.card .sub-title {
  font-size: 0.80rem;
  color: rgb(132, 151, 199);
  font-weight: 500;
}

.card .list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.75rem;
  color: white;
  font-weight: 500;
  list-style: none;
}

.card .list .list-item .check {
  margin-right: 0.25rem;
  font-size: 1rem;
  color: rgb(95, 95, 228);
  font-weight: 900;
}

.card .button {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
  height: fit-content;
  background-color: rgb(48, 58, 143);
  font-size: 0.75rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 2px 1px rgb(48, 51, 143);
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}

.card .button .text-button {
  position: relative;
  z-index: 10;
  font-size: 25px;
}

.card .button::before,
.card .button::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.card .button::before {
  left: 0;
  background-image: radial-gradient(
    circle at 0% 45%,
    rgba(16, 5, 36, 1) 19%,
    rgba(16, 5, 36, 0.26) 46%,
    rgba(16, 5, 36, 0) 100%
  );
}

.card .button::after {
  right: 0;
  background-image: radial-gradient(
    circle at 100% 45%,
    rgba(16, 5, 36, 1) 19%,
    rgba(16, 5, 36, 0.26) 46%,
    rgba(16, 5, 36, 0) 100%
  );
}

.card .button:hover {
  box-shadow: 0px 0px 20px 0 rgb(53, 48, 143);
}

.card .button:hover::before,
.card .button:hover::after {
  width: 0;
  opacity: 0;
}



h4{
  font-size: 200%;
 
}

/* slider */

.slider-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container img {
  max-width: 100%;
  height: auto;
  display: flex;
  
}

.slider-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #fff;
  border-color: #000;
  border-style: solid;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.slider-container button:hover{
  background-color: #1379a8;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* Acordeón */


.container_acordion {
  width: 100%;
  color: white;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
  flex-direction: column;
}

.acc_container {
  width: 100%;
  max-width: 80%; /* Ajusta el ancho máximo según sea necesario */
  padding: 10px;
  margin: 10px;
}

.acc_box {
  width: 100%;
  background-color: #0c152e;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
}

.acc_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.heading {
  font-size: 20px;
}

.symbol {
  font-size: 20px;
}

.acc_text {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.acc_text p {
  font-size: 20px;
  padding-top: 10px;
}

.acc_box.active {
  background-color: white;
  color: black;
}

.acc_box.active.heading {
  font-weight: 500;
}

.acc_box.active .acc_text {
  max-height: 1000px; /* Ajusta la altura máxima según sea necesario */
}

h4 {
  font-size: 3em;
  color: white;
  text-transform: uppercase;
  display:flex;
  justify-content:center;
 
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 80px;
  width: 50px;
  height: 60px;
  right: 17px;
  z-index: 99999;
  border: none;
  outline: none;
  background-color: transparent;
  border: #363636;
  border-style: solid;
  color: rgb(114, 114, 114);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  transition: 0.3s all;
  
}

 #descuento p {
  font-size: 100%;
  color: darkred;

}

#myBtn:hover {
  background-color: #030101;
  transition: 0.3s all;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.outerdiv
{
	  width: 100%;
    margin-top: -290px;
    background: #EDF2F8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerdiv
{
	transform: scale(0.9);
	margin: 1rem;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-rows: repeat(2,22rem);
	grid-template-columns: repeat(4,17rem);
}
.eachdiv
{
	  padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #6d6b6b6b;
    color: white;
}
.div1
{
	background: #733FC8;
    grid-column: 1/3;
    grid-row: 1/2;
    background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 25rem;
}
.div2
{
	background:#49556B;
    grid-column: 3/4;
    grid-row: 1/2;
}
.div3
{
	background: white;
    grid-column: 4/5;
    grid-row: 1/3;
    color: black;
}
.div4
{
	background: white;
	grid-column: 1/2;
    grid-row: 2/3;
    color: black;
}
.div5
{
	background: #18202D;
	grid-column: 2/4;
    grid-row: 2/3;
}
.userdetails
{
	display: flex;
}
.imgbox
{
	margin-right: 1rem;
}
.imgbox img
{
	border-radius: 50%;
	width: 2rem;
	border: 2px solid #cec5c5;
}
.detbox
{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.detbox p
{
	margin: 0;
}
.detbox .name
{
	color: hsl(0, 0%, 81%);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}
.detbox .name.dark
{
	color: #49505A;
}
.detbox .designation
{
	color: hsl(0, 0%, 81%);
    opacity: 50%;
    font-size: 0.8rem;
}
.detbox .designation.dark
{
	color: #49505A;
}
.review h4
{
	font-size: 1.2rem;
	color: #F3DEFF;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}
.review.dark h4{
	color:#4B5258;
}
.review p
{
	font-size: 0.95rem;
    color: #F3DEFF;
    font-weight: 500;
    opacity: 50%;
    line-height: 1.5;
}
.review.dark p{
	color: #0e0e0e;
}
.attribution
{
	font-size: 1rem;
    line-height: 1.5;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
}
.attribution a
{
	text-decoration: none;
}

@media only screen and (max-width: 1000px)
{
	.innerdiv
	{
		transform: scale(1);
    
	}
}
@media only screen and (max-width: 800px)
{
	.innerdiv
	{
		transform: scale(0.6);
	}
  
}
@media only screen and (max-width: 600px)
{
	.div1 {
		background-position-x: 11rem;
	}
	.innerdiv
	{
		display: flex; 
		flex-direction: column;
		transform: scale(1);
		margin: 1rem;
		margin-bottom: 20rem;
	}
	
}

.footer{
  
  background:#000;
  padding:30px 0px;
  font-size: 30px;
 
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:1em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  font-size: 25px;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:3em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }

  @media(max-width:1030px)
  {
    .buttons
    {
      margin-top: -10%;
    }
  }

@media(max-width:900px){

  .wave{
    margin-top: -30%;
    
  }
  #cambiosFisicos{
    
    margin-top: -2%;
    
  }
  

  .card{
    margin-left: 10%;
    width: 15rem;
  }
  h4{
    font-size: 37px;
  }
  .carousel-container{
    width: 90%;
    height: 1000px;
  }

  #inicio{
    min-height: 900px;
  }
  #planes{
    height: 800px;
  }
  .container img{
    max-width: 110%;
    margin-left:72%;
  }

  .buttons{
    margin-top: 5%;
    margin-left: 30%;
  }

.menu{
  padding: 40px 50px;
  right: 29px;
}

.menu label{
  display: block;
  position: absolute;
  margin-top: -10%;
}

.menu .navbar {
  position: absolute;
  top: 80%;
  left: -60%;
  right: -28px;
  background-color: #091125; 
  display: none;
  max-width: 200%;
}

.menu .navbar ul li{
  width: 100%;
  
}

#menu:checked ~ .navbar{
  display: initial;
  
}
}

@media (max-width:768px){

  .footer{
    margin-top: 10%;
  }

  .footer .row{

    font-size: 18px;
  
  }


  .buttons{
    margin-left: -3%;
  }
  #planes{
    height: 100%;
  }
}

@media (max-width:500px){

  #cambiosFisicos{
    height: 400px;
    margin-top: -3%;
  }
  #preguntasFrecuentes{
    height: 850px;
  }

  #testimonios{
    height: 750px;
  }

  

  
  .acc_container{
    margin-left: -10%;
  }
  .footer{
    margin-top: 101%;
  }
}

@media (max-width:360px){
  .eachdiv{
    padding: 15px;
  }
  #cambiosFisicos{
    margin-top: -5%;
  }

  .card{
    margin-left: 20px;
  }

  .buttons{
    margin-left: -1px;
  }

  .wave{
    margin-top: -90px;
    max-height: 110%;
    
  }
}

