@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

:root {
  --accent-color: #142880;
  --base-color: #f8f8f8;
  --smooth: all 0.3s ease-in-out;
  --border-radius: 5px;
}

::selection{
  color: #04befe;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  max-width: 100%;
}

.container {
  max-width: 40%;
}

.container:hover img {
  transform: scale(1.1); /* Cambia el valor según el nivel de zoom deseado */
}

body{
  
  background:linear-gradient(
    90deg,
    rgba(166,93,234,234,1)25%,
    rgb(46, 38, 151)73%
  );
  font-family: "Bebas Neue", sans-serif;
  
  
}

.back{
  padding: 32px 0;
  background-color: #0e1835; 
}

.menu{
  position: absolute;
  top:0;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

}
.menu .navbar ul li{
  position: relative;
  float: left;
  
}

.menu .navbar ul li a{
  font-size: 18px;
  padding: 20px;
  color: white;
  display: block;
}
.menu .navbar ul li a:hover{
 color: #4481eb;
}

#menu{
  display: none;
}

.menu-icono{
  width: 25px;

}

.menu label{
  cursor: pointer;
  display: none;
}

#inicio {
  background-color: #0c152e;

}
#planes {
  background-color: #101b3d;
}
#QandA {
  background-color: #2d3c6b;
}
#cambiosFisicos {
  background-color: #172652;
}
#contacto {
  background-color: #1a2958;
}

.section {
  
  margin: 0;
  padding: 0;
  height: 600px; /* Ajusta la altura según tu contenido */

}

.container img{
  max-width: 60%;
  max-height: 30%;
  margin-left: 15%;
  margin-top: 10px;
}

.buttons{
  
  margin-left: 50%;
  margin-top: -25%;
}

  .buttons a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  
  .container:hover .buttons {
    opacity: 1;
  }


  .btn-hover {
    width: 350px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    display: block;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}


/* Card section */


.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: calc(50% - 20px); /* 50% width with some space between cards */
  max-width: 300px; /* Maximum width of the card */
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  margin-bottom: 10px;
  color: #333;
  display: flex;
  justify-content: center;
}

.card-content p {
  color: #666;
  display: flex;
  justify-content: center;

}

.card-content a {
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.card-content a:hover {
  background-color: #45a049;
}


h4{
  font-size: 200%;
}

.carousel-container {
  
  position: relative;
  overflow: hidden;
  max-height: 450px;
  width: 40%; /* Cambia el ancho según tu preferencia */
  margin: 0 auto; /* Centra horizontalmente */
  
}

.carousel {
  display: flex;
  overflow: hidden;
  
}

.carousel-item {
  flex: 0 0 100%;
  max-width: 100%;
  /*display: none; */
  
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Acordeón */


.container_acordion{
  width: 100%;
  height: 100vh;
  
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.acc_container{
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin: 10px;

}

.acc_box{
  width: 100%;
  background-color: #0c152e;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
}

.acc_heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

}

.heading{
  font-size: 18px;
}

.symbol{
  font-size: 20px;
}

.acc_text{
  max-height: 0;
  overflow: hidden;
  transition: all .4s ease-in-out;
}

.acc_text p{
  font-size: 14px;
  padding-top : 10px;
}

.acc_box.active{
  background-color: white;
  color: black;
}

.acc_box.active.heading{
  font-weight: 500;
}


.acc_box.active.acc_text{
  max-width: 100vh;
  transition: all .4s ease-in-out;

}




@media(max-width:900px){
  

  .container_acordion{
    width: 90%;
  }
  .carousel-container{
    width: 90%;
    height: 1000px;
  }

  #inicio{
    min-height: 900px;
  }
  #planes{
    height: 800px;
  }
  

  .container img{
    max-width: 110%;
    margin-left:72%;
  }

  .buttons{
    margin-top: 5%;
    margin-left: 30%;
  }

.menu{
  padding: 35px 45px;
  right: 29px;
 
}

.menu label{
  display: block;
  position: absolute;
  margin-top: -10%;
}

.back{
  padding: 50px 0;
  
}

.menu .navbar {
  position: absolute;
  top: 120%;
  left: -40%;
  right: 0;
  background-color: #091125; 
  display: none;
  max-width: 200%;
}

.menu .navbar ul li{
  width: 100%;
  
}

#menu:checked ~ .navbar{
  display: initial;
  
}
}

@media (max-width:768px){
  .buttons{
    margin-left: -1%;
  }
  #planes{
    height: 100%;
  }
}